DB_PASSWORD=your_supabase_password
JWT_SECRET=your_jwt_secret_min_32_chars
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:6543/postgres?preferQueryMode=simple
SPRING_DATASOURCE_USERNAME=postgres.jwtucgtlouqpgvgexrsh
SPRING_FLYWAY_URL=jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:6543/postgres?preferQueryMode=simple
SPRING_FLYWAY_USER=postgres.jwtucgtlouqpgvgexrsh
